@page

@{
    Layout = "_Layout";
    //ViewData["Title"] = "Luay Younus";
    var projects = await ProjectService.GetAllAsync();
}

@*Logo image moving over the horizontal line back and forth*@
<div>
    <div>@*Horizontal Line*@</div>
</div>

<div>
    <h1>Luay Younus</h1>
    <div>
        <img src="" /> @*Personal Image or some image*@
        <p>Full Stack Web and Mobile Engineer</p>
    </div>
</div>

<div>
    <img src="" /> @*Arrow pointing down*@
</div>

<div>
    <h1>My Journey</h1>
    <img src="" /> @*Squiggly line with Programming languages I learned over the years*@
</div>

<div>
    <div>@*Horizontal Line*@</div>
</div>

<div class="container">
    <div class="row">
        @foreach (var project in projects)
        {
            <div class="col-md-9">
                @if (project.Image != null)
                {
                    <img class="img-thumbnail" height="150" src="@project.GetInlineImage()" />
                }
                else
                {
                    <img class="img-thumbnail" height="150" src="@project.ImageUrl" />
                }
            </div>

            <div class="col-md-3">
                <h2><a asp-page="/project" asp-route-id="@project.Id">@project.Name</a></h2>
                <p>@project.Description</p>
                <ul>
                    @foreach (var technology in project.TechnologiesList)
                    {
                        <li>@technology</li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div>
    <img src="" /> @*Arrow pointing down*@
</div>

<div>
    <div>
        @*Github and Linkedin and Contact Me*@
    </div>
</div>

<div>
    <div>@*Horizontal Line*@</div>
</div>

@*footer*@ 