@page "{id}"
@{
    Layout = "_Layout";
    var id = int.Parse((string)RouteData.Values["id"]);
    var project = await ProjectService.FindAsync(id);
}

<h2>@project.Name</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @if (project.Image != null)
            {
                <img class="img-fluid img-thumbnail" src="@project.GetInlineImage()" />
            }
            else
            {
                <img class="img-fluid img-thumbnail" src="@project.ImageUrl" />
            }
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <span>
                    @project.Description
                </span>
                <hr />
            </div>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-page="/Admin/AddEditProject" class="btn btn-primary" asp-route-id="@project.Id">Edit</a>
    }

</div>